POSTGRES_USER=user_exemple
POSTGRES_PASSWORD=password_exemple
POSTGRES_DB=db_name_exemple

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/db_name_exemple
SPRING_DATASOURCE_USERNAME=user_exemple
SPRING_DATASOURCE_PASSWORD=password_exemple